<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>


<%- include('partials/nav.ejs') %>


<h1 class="text-center">Product List</h1>




<div class="d-flex flex-wrap gap-3 mx-5">
    <% products.forEach(({name, price, description}, idx) => { %>

    <div class="card  mb-4 " style="width: 18rem;">
        <div class="card-body ">
            <h2><%= name %> </h2>   
            <h6 class="fw-bold"><%= price %></h6>
            <div><%= description %></div>
            <div class="mt-auto d-flex" >
                <form action="/delete/<%= idx %>" method="post">
                    <button class="btn btn-danger me-3">Delete</button>
                </form>
                <form action="/editProduct/<%= idx %>" method="get">
                    <button class="btn btn-info">Edit</button>
                </form>
                
            </div>

        </div>
    </div>
<% }) %>
</div>
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>